#left nav li a:{ 
font-weight: bold; text-decoration: underline;
}

img{
    display: none;
}

#video{
    display: none;
}

#left{
    display: none;
}

#footer{
    display: none;
}

#content{
    float: left;
}

.post{
    border-bottom: none;
}

.top{
    border: 2px solid #fff;
}