/*
    Colors
    #184574
    http://freetwitterheaders.net/mindless-behaviour/
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, label, legend, form,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #184574;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET END */

h1{
    font-size: 2.3em;
}

h2, h3{
    font-family: "aral black", Arial, Helvetica;
    font-size: 2em;
    letter-spacing: 1px;
    padding-bottom: 20px;
    color: #000;
}

p{
    /* font-family given in container */
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 10px;
}

a{
    /* font-family given in container */
    font-size: 1em;
    color: #000;
}


#container{
    width: 1200px;
    min-height: 960px;
    margin: 25px auto 25px auto;
    border-radius: 10px;
    font-family: Arial, Helvetica, Sans-serif;
}

#header{
    height: 300px;
    background-image: url("pics/header.jpg");
}

/* header end */

.wrapper{
    background-image: -webkit-linear-gradient(left,
    #f9f9f9 0%,
    white 25%,
    #f9f9f9 25%,
    white 100%);
    
    background-image: -moz-linear-gradient(left,
    #f9f9f9 0%,
    white 25%,
    #f9f9f9 25%,
    white 100%);
    
    background-image: -o-linear-gradient(left,
    #f9f9f9 0%,
    white 25%,
    #f9f9f9 25%,
    white 100%);
    
    background-image: -ms-linear-gradient(left,
    #f9f9f9 0%,
    white 25%,
    #f9f9f9 25%,
    white 100%);
    
    background-image: linear-gradient(left,
    #f9f9f9 0%,
    white 25%,
    #f9f9f9 25%,
    white 100%);
}

/* column colors end */

#left{
    float: left;
    width: 250px;
}

#left nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    letter-spacing: 2px;
    margin: 50px 50px;
    
}

#left nav ul{
    list-style-type: none;
}

/* empty space between each li item with margin bottom */
.menuitem{
    width: 180px;
    background-color: #006B53;
    border-radius: 10px;
    margin-bottom: 7px;
}

.active{
    text-decoration: underline !important;
}

.backgroundActive{
    background-color: #1F7B67 !important;
    border-radius: 10px;
}

#left nav li a{
    text-decoration: none;
    padding: 15px;
    color: #fff;
    display: block;
}

#left nav li:hover{
    color: #fff;
    text-decoration: underline;
    background: #1F7B67;
}



/* LEFT NAVIGATION END */

.repos{
    display: block;
    margin-left: 40px;
}

.repos h1{
    font-family: "arial-black", Helvetica, sans-serif;
    font-size: 1.5em;
    border-bottom: 1px solid #dadde3;
    padding: 10px;
    text-align: center;
}

.repos ul{
    padding: 10px;
    text-align: center;
}

.repos ul li a{
    color: #545454;
}

.repos ul li a:hover{
    color: #ff280f;
}

.repos p{
    font-family: arial, Helvetica, sans-serif;
    font-size: 1em;
    letter-spacing: 0px;
    color: #545454;
    border-bottom: 1px solid #dadde3;
    padding: 10px;
    text-align: center;
}

/* END GITHUB REPO SECTION IN LEFT COLUMN */

.labLinks ul{
    margin-left: 17px;
    margin-bottom: 40px;
}

.labLinks ul li{
    font-style: Arial, Helvetica, sans-serif;
    padding: 5px;
    list-style-type: circle;
}

.labLinks ul li a{
    font-size: 1.1em;
    color: #000;
}

/* LAB LINKS END */

table{
    border-collapse: collapse;
    border: 3px solid #031931;
    margin-bottom: 40px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

thead{
    color: #fff;
    border: 1px solid #4B81BA;
    background-color: #08294B;
    font-weight: bold;
    text-align: center;
}

td{
    border: 1px solid #4B81BA;
    padding: 5px;
    width: 100px;
    text-align: center;
    color: #fff;
}

td.firstRowTdOne{
    color: #fff;
    background-color: #184574;
}

td.secondRowTdOne{
    color: #fff;
    background-color: #184574;
}

tr.evenRow{
    color: inherit;
    background-color: #184574;
}

tr.oddRow{
    color: inherit;
    background-color: #233D57;
}

tfoot{
    color: inherit;
    background-color: #08294B;
}

/* TABLE DESIGN END */

#content{
    margin-left: 270px;
    padding-bottom: 10px;
}

.post{
    display: block;
    margin: 0 auto;
    padding: 25px 25px;
    width: 800px;
    border-bottom: 2px solid #ff280f;
}

.lastpost{
    border-bottom: none;
}

.poststamp{
    padding-top: 10px;
    font-size: 1em;
}

.poststamp p{
    font-size: 1em;
}

.contentIndent{
    padding: 30px 120px;
}

#earthImg{
    border-radius: 5px;
}

div.imgBoxLeft{
    float: left;
    padding: 10px;
}

div.imgBoxRight{
    float: right;
}

/* END BLOGGPOSTS */

#presentationImg{
    margin: 20px;
    border: 2px solid #4B81BA;
}

#hobbylist{
    margin-left: 20px;
    margin-bottom: 20px;    
}

#hobbylist ul li{
    padding: 5px;
}

#programmingList{
    margin: 0  0 20px 30px;
}

#programmingList ul li.listHeading{
    list-style-type: circle;
    font-weight: bold;
}

#programmingList li{
    padding: 5px;
}

#programmingList li ol{
    margin-left: 35px;
    list-style-type: decimal;
    font-size: 0.8em;
}

#bookList{
    margin: 0 0 20px 10px;
    font-family: Arial, Helvetiva, sans-serif;
}

#bookList dt{
    padding-top: 10px;
    font-weight: bold;
}

.laboration{
    margin-bottom: 30px;
}

dd{
    margin-left: 20px;
    padding-top: 3px;
}

#urlList dt{
    padding-top: 10px;
}

#urlList li{
    padding: 5px;
}

/* END Lists */

.top{
    border: 2px solid #184574;
    margin-bottom: 30px;
}

.bottom{
    border: 2px solid #184574;
}

legend{
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.1em;
    font-style: "arial-black", Helvetica, sans-serif;
}

.label{
    display: inline-block;
    width: 200px;
    vertical-align: top;
    text-align: right;
    margin-right: 20px;
}

select{
    border: 1px solid #233D57;
}

select:focus{
    border: 1px solid #233D57;
}

.textfield{
    border: 1px solid #233D57;
}

.textfield:focus{
    border: 1px solid #233D57;
    font-style: Arial, Helvetica sans-serif;
    color: #000;
}
/* END FORM STYLING */



/* CONTENT END */

#footer{
    clear: both;
    height: 200px;
    background-color: #fff;
    border-top: 1px solid #ff280f;
}

#footer p{
    text-align: center;
    margin-top: 90px;
}
