/*
    Colors
    #184574
    http://freetwitterheaders.net/mindless-behaviour/
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #184574;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET END */


h3{
    font-family: "aral black", Arial, Helvetica;
    font-size: 2em;
    letter-spacing: 1px;
    padding-bottom: 20px;
    color: #000;
}

p{
    /* font-family given in container */
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 25px;
}

a{
    /* font-family given in container */
    font-size: 1em;
}


#container{
    width: 1200px;
    min-height: 960px;
    margin: 25px auto 25px auto;
    border-radius: 10px;
    font-family: Arial, Helvetica, Sans-serif;
}

#header{
    height: 300px;
    background-image: url("pics/header.jpg");
}

/* header end */

.wrapper{
    background-image: -webkit-linear-gradient(left,
    #f9f9f9 0%,
    white 25%,
    #f9f9f9 25%,
    white 100%);
}

/* column colors end */

#left{
    float: left;
    width: 250px;
}

#left nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    letter-spacing: 2px;
    margin: 50px 50px;
    
}

#left nav ul{
    list-style-type: none;
}

/* empty space between each li item with margin bottom */
.menuitem{
    width: 180px;
    background: #006B53;
    border-radius: 10px;
    margin-bottom: 7px;
}

#left nav li a{
    text-decoration: none;
    padding: 15px;
    color: #fff;
    display: block;
}

#left nav li:hover{
    text-decoration: underline;
    background: #1F7B67;
}

.active{
    text-decoration: underline;
}

/* LEFT NAVIGATION END */

#content{
    margin-left: 270px;
    padding-bottom: 10px;
}

.post{
    display: block;
    margin: 0 auto;
    padding: 25px 0px 25px 0px;
    width: 800px;
    border-bottom: 2px solid #ff280f;
}

.poststamp{
    padding-top: 10px;
    font-size: 1em;
}

.poststamp p{
    font-size: 1em;
}

/* CONTENT END */

#footer{
    clear: both;
    height: 200px;
    background-color: #fff;
}

